* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #111;
  color: white;
}

.Perent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px
    /* justify-content: space-evenly; */
}

.card {
  border: 1px solid gray;
  width: 23.50%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #222;
}

.card p {
  margin: 20px 0px;
}

.card button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-bar {
  background-color: #222;
  font-size: 30px;
  text-align: center;
  padding: 20px 0px;
  border: 1px solid #dadada;
}